@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-blue-color:#e4f9f5;
    --dark-blue-color: #66bfbf;
    --dark-color:#40514e;
}
h1{
    color: var(--dark-blue-color);
font-family: 'Sacramento', cursive;
font-weight: 700;
font-size: 6rem;
}
h2{
    color: var(--dark-blue-color);
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

/* hero div */

.hero{
    position: relative;
    background-color: var(--light-blue-color);
    width: 100%;
    height: 96vh;
}
.cloud-end{
    position: absolute;
    top: 40px;
    right: 25vw;
}
.info{
    padding-top: 18vh;
    text-align: center;
}
.cloud-start{
    position: absolute;
    left: 15vw;
    bottom: 40vh;
}
.mountain{
    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
